<!-- hw/templates/hw/about.html -->
{% extends 'hw/base.html' %}
        
{% block content %}
    <h1>About this page</h1>

    <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Est magnam id, assumenda ullam dolores, vitae officia voluptate ipsa a esse eveniet nulla dolor reprehenderit velit quod deleniti, inventore optio labore.
    </p>
    <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium obcaecati dicta optio similique iusto saepe maiores quos enim suscipit, adipisci, incidunt eius, fugiat nam in sed ad architecto nesciunt consequatur.
    </p>
{% endblock %}
       