<!--
    File: base.html
    Author: Emily Vespasiano (evespa@bu.edu), 6/11/2026
    Description: Shared HTML template for the dadjokes app that all 
    of the other templates extend. Includes the navigation header and stylesheet. 
-->
{% load static %}

<html>
    <head>
        <title>Dad Jokes</title>
        <!-- Linking the CSS stylesheet -->
        <link rel="stylesheet" href="{% static 'styles-blog.css' %}">
    </head>

    <body>
        <head>
            <h1>Dad Jokes</h1>
            <nav>
                <ul>
                    <!-- navigation links for all users -->
                    <li><a href="{% url 'random' %}">Random</a></li>
                    <li><a href="{% url 'show_all_jokes' %}">Show All Jokes</a></li>
                    <li><a href="{% url 'show_all_pictures' %}">Show All Pictures</a></li>
                </ul>
                <hr>
            </nav>
        </head>

        <!-- substitute in the specific content here -->
        {% block content %}
        {% endblock %}
    </body>

</html>