<!-- dadjokes/templates/dadjokes/show_all_jokes.html -->
{% extends 'dadjokes/base.html' %}

{% block content %}
<h1>Showing all Jokes</h1>

<main class="grid-container">
    <!-- loops through all jokes -->
    {% for joke in jokes %}
    <article>
        <div>
            <h2>{{joke.text}}</h2>
            <h3>by {{joke.contributor}}</h3>
        </div>

        <!-- create a link to show this one joke only -->
        <a href="{% url 'show_joke' joke.pk %}">View Joke</a>
    </article>
    <hr>

    {% endfor %}
</main>
{% endblock %}