<!--
    File: login.html
    Author: Emily Vespasiano (evespa@bu.edu), 6/18/2026
    Description: Displays the HTML login form for project.
-->

{% load static %}
<html>
    <head>
        <title>Back to the Screen</title>
        <link rel="stylesheet" href="{% static 'styles-project.css' %}">
    </head>
    <body>
        <h1>Login to Back to the Screen</h1>
        <form action="{% url 'project_login' %}" method="POST">
            {% csrf_token %}
            {{form}}
            <input type="submit" value="Login">
            <a href="{% url 'show_all_movies' %}"><button type="button">Cancel</button></a>

            <hr>
            <p>Don't have a Back to the Screen account? <a href="{% url 'create_profile' %}">Create one here!</a></p>
            <!-- This basic login form works, but after login in
            assumed the existance of a page at /registration/profile, which
            does not exist.  -->
            {% if request.GET.next %}
            <input type="hidden" name="next" value="{{request.GET.next}}">
            {% else %}
            <input type="hidden" name="next" value="{% url 'show_all_movies' %}">
            {% endif %}
        </form>
    </body>
</html>