<!--
    File: search.html
    Author: Emily Vespasiano (evespa@bu.edu), 6/18/2026
    Description: Displays the HTML form to search for a specific Movie or Profile.
-->
{% extends 'project/base.html' %}

{% block content %}
<h1>Search</h1>
<p>@{{profile.username}}</p>

<!-- display the HTML search form -->
<form action="{% url 'search' %}" method="GET">
    <table>
        <tr>
            <td><label>Search for a movie title, director, genre, or username:</label></td>
            <td><input type="text" name="query"></td>
        </tr>
    </table>
    <button type="submit">Search</button>
</form>
{% endblock %}