<!--
    File: show_followers.html
    Author: Emily Vespasiano (evespa@bu.edu), 6/20/2026
    Description: Template to display all followers of a specific profile. 
-->
{% extends 'project/base.html' %}

{% block content %}
<a href="{% url 'show_profile' profile.pk %}" style="text-align:center; text-decoration:none; color:#ff00ff;">⬅️<br><small>Back to Profile</small></a>
<h1>{{profile.display_name}}'s Followers</h1>

        <!-- loops through each profile that follows a specific profile -->
        {% for follower in profile.get_followers %}
            <p>
                <a href="{% url 'show_profile' follower.pk %}" 
                style="text-decoration:none; color:#00ffff; font-weight:600;">
                    {% if follower.profile_image_url %}
                        <img src="{{follower.profile_image_url}}" style="width:32px; height:32px; border-radius:50%; object-fit:cover; vertical-align:middle; margin-right:8px;">
                    {% endif %}
                    {{follower.display_name}}
                </a>
            </p>
        {% endfor %}

{% endblock %}