<!-- quotes/templates/quotes/about.html -->
{% extends 'quotes/base.html' %}
        
{% block content %}
    <h1 style ="text-align: center;">About This Page</h1>

    <p style="text-align: center;">Hello! This page contains quotes and images of the famous <a href="https://en.wikipedia.org/wiki/Maya_Angelou">Maya Angelou</a> (1928-2014). You can click on her name to learn more information about her!</p> <br>
    <p style="text-align: center;">Maya Angelou was an American memoirist, civil rights activist, and essayist. 
        She is famously known for her writing, primarily for her 1969 autobiography titled I Know 
        Why the Caged Bird Sings. She is celebrated for her role as an advocate for women and Black culture. 
    </p>
    <div style="text-align: center;">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4f/Angelou_at_Clinton_inauguration_%28cropped_2%29.jpg/500px-Angelou_at_Clinton_inauguration_%28cropped_2%29.jpg" alt="Maya Angelou" style="width:500px;">
    </div>
{% endblock %}
       