<!--
    File: show_post.html
    Author: Emily Vespasiano (evespa@bu.edu), 5/29/2026
    Description: Template to display a single mini_insta post.
-->
{% extends 'mini_insta/base.html' %}

{% block content %}

<main class="grid-container">
    <article>

        <div style="display:flex; align-items:center; justify-content:space-between;">
            <div style="display:flex; align-items:center; gap:10px;">
                <img src="{{post.profile.profile_image_url}}" alt="" style="width:40px; height:40px; border-radius:50%; object-fit:cover;">
                <a href="{% url 'show_profile' pk=post.profile.pk %}"><strong>@{{post.profile}}</strong></a>
                <p style="color:gray; font-size:12px; margin:0;">{{post.timestamp}}</p>
            </div>

            <div>
                <!-- link to update this post -->
                <a href="{% url 'update_post' post.pk %}"><button>Update Post</button></a>

                <!-- link to delete this post -->
                <a href="{% url 'delete_post' post.pk %}"><button>Delete Post</button></a>
            </div>
        </div>

        <!-- loops through each photo associated with a post and shows each photo -->
        {% for photo in post.get_all_photos %}
            <!-- show the photo if it has an image attached, otherwise show No image text -->
            {% if photo.get_image_url %}
                <img src="{{photo.get_image_url}}" alt="post image" style="width:100%; max-height: 500px; object-fit:cover;">
            {% else %}
                <p>No image</p>
            {% endif %}
        {% endfor %}

        <!-- display like count above post caption -->

        <!--if post has no likes, displays no likes yet -->
        {% if post.get_likes.count == 0 %}
            <p>No likes yet</p>
        <!-- case for if a post has one like -->
        {% elif post.get_likes.count == 1 %}
            <p>Liked by <strong>@{{post.get_likes.first.profile}}</strong></p>
        <!-- case for if a post has more than one like -->
        {% else %}
            <p>Liked by <strong>@{{post.get_likes.first.profile}}</strong> and <strong>{{post.get_likes.count}} others</strong></p>
        {% endif %}

        <!-- displays post caption -->
        <p><strong>@{{post.profile}}</strong> {{post.caption}}</p>

        <!-- loops through each comment associated with a post -->
        {% for comment in post.get_all_comments %} 
            <p style="font-size:0.8em;"><strong>@{{comment.profile}}</strong> {{comment.text}}</p>
        {% endfor %}

    
    </article>
</main>


{% endblock %}