<!-- mini_insta/templates/mini_insta/show_profile.html -->
{% extends 'mini_insta/base.html' %}

{% block content %}
<h1>Showing Profile</h1>


<main class="grid-container">
    <article>
        <div>
            <h2>{{profile.username}} | {{profile.display_name}}</h2>
            <p>
                {{profile.bio_text}}
            </p>
            <p>
                Joined: {{profile.join_date}}
            </p>
            <p>
                Followers: ...
            </p>
            <p>
                Following: ...
            </p>
            <p>
                Posts: 0
            </p>
        </div>

        <img src="{{profile.profile_image_url}}" alt="" style="width:200px; height:200px; border-radius:50%; object-fit:cover;">

    </article>
    <hr>

</main>
{% endblock %}