<!--
    File: show_profile.html
    Author: Emily Vespasiano (evespa@bu.edu), 5/29/2026
    Description: Template to display one singular mini_insta profile in a grid layout.
    Shows details of users profile picture, display name, username, bio, join date, 
    follower/following count, and post count.
-->
{% extends 'mini_insta/base.html' %}

{% block content %}
<h1>Showing Profile</h1>


<main class="grid-container">
    <article>
        <!-- displays circular profile picture to match Instagram formatting. -->
        <img src="{{profile.profile_image_url}}" alt="" style="width:200px; height:200px; border-radius:50%; object-fit:cover;">
        
        <!-- displays profile data: display name, user, bio, join date, followers/following count, posts count. -->
        <div>
            <h2>{{profile.display_name}}</h2>
            <p style="color:gray; margin-top:-10px;">@{{profile.username}}</p>
            <p>{{profile.bio_text}}</p>
            <p>Joined: {{profile.join_date}}</p>
            <p><a href="{% url 'show_followers' profile.pk %}">Followers: {{profile.get_num_followers}}</a></p>
            <p><a href="{% url 'show_following' profile.pk %}">Following: {{profile.get_num_following}}</a></p>
            <p>Posts: {{profile.get_all_posts.count}}</p>
        </div>
        <!-- link to update profile's profile (this includes: display name, profile picture, and bio)-->
        <a href="{% url 'update_profile' profile.pk %}">Update Profile</a>


    </article>
</main>
<hr>

    <!-- display all posts for a profile in 3 column grid similar to the Instagram profile page style -->
    <div style="display:grid; grid-template-columns: repeat(3, 1fr); gap:10px; padding:10px">
        <!-- loops through all posts on the profile -->
        {% for post in profile.get_all_posts %}
            <div>
                    <!-- shows the first photo of the post if it exists, if not shows no image text-->
                    {% if post.get_all_photos.first %}
                        <img src="{{post.get_all_photos.first.get_image_url}}" alt="post image" style="width:100%; height:300px; object-fit:cover;">
                    {% else %} 
                        <p>No image</p>
                    {% endif %}
                    <p>{{post.caption}}</p>
                    <p>{{post.timestamp}}</p>
                    <!-- link to show the posts detail page -->
                    <a href="{% url 'show_post' pk=post.pk %}">View Post</a>
            </div>
        {% endfor %}
    </div>

{% endblock %}