<!--
    File: update_profile_form.html
    Author: Emily Vespasiano (evespa@bu.edu), 6/2/2026
    Description: Template to display the HTML form to update a Profile object.
-->
{% extends 'mini_insta/base.html' %}

{% block content %}
<h1>Update this Profile</h1>

<!-- display the HTML form -->
<form action="{% url 'update_profile' profile.pk %}" method="POST"
    enctype="multipart/form-data">
    
    {% csrf_token %}
    <table>
    {{form.as_table}}
    </table>

    <input type="submit" name="submit" value="Update">
</form>
<!-- Add a separate form for a cancel button -->
<form action="{% url 'show_profile' profile.pk %}" method="GET">
    <input type="submit" value="Cancel">
</form>
{% endblock %}